{% extends "startupconfort/base.html" %}
{% load humanize %}
{% load hitcount_tags %}
{% load crispy_forms_tags %}


{% block jumbotron %}
<div class="jumbotron">
  <div class="text-center">
    <h1>{{ title }}</h1>
  </div>
  <p></p>
</div>
{% endblock %}

{% block content %}

<div class="container">
 <ol class="breadcrumb breadcrumb-arrow">
  <li class="{% if breadcrumb == 'cart' %}active{% endif %}">Cart</li>
  <li class="{% if breadcrumb == 'shipping' %}active{% endif %}">&nbsp;Shipping Address</li>
  <li class="{% if breadcrumb == 'checkout' %}active {% endif %}">Checkout</li>
</ol>
</div>

<style media="screen">
  input[type=submit], input[type=button]{
    margin-top:30px;
  }
</style>

  {% crispy form %}

{% endblock %}
