{% extends 'fabric/fabric_base.html' %}

{% block container %}
  <h2 class="title">{{object.id}}</h2>
  <div class="card">
    <div class="card-content">
      <p class="center-align"><i></i></p>
      <img id="myImg" class="img-responsive" src="{{ object.picture.large.url }}" alt="{{ object.id }}" width="350" height="auto"> 
      <hr>
    </div>
    <div class="card-action">
      <a class="btn-flat" href="{% url 'brandcolors:homepage' %}">Blog Home</a>
      <form class="right" method="POST" action="{% url 'brandcolors:fabric-delete' object.id %}">
         {% csrf_token %}<input class="btn red darken-2" type="submit" value="DELETE">
      </form>
      <a class="btn-flat right" href="{% url 'brandcolors:fabric-update' object.id %}">Update</a>
    </div>
  </div>
{% endblock %}
